
public/__pycache__/autorizaONU.cpython-311.pyc
public/__pycache__/currentPort.cpython-311.pyc
public/__pycache__/diplaySummary.cpython-311.pyc
public/__pycache__/displayPort.cpython-311.pyc
public/__pycache__/jsonONUs.cpython-311.pyc
route/dadosConexaoOLTs.py
